body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	font-family: sans-serif;
	/*font-style: italic;*/
}

.CanvasLabels-component{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#container{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	outline: red dashed 3px;
	/*pointer-events: none;*/
	overflow: hidden;

}

#actionBox{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 10px;
	opacity: 0.5;
	transition: opacity 0.3s;
	min-width: 50px;
}

#actionBox:hover{
	opacity: 0.7;

}

#actionBox button{
	background: hsla(0,0%, 90%);
	appearance: none;
	border: none;
	border-radius: 0;
	padding: 2px;
	border: 1px solid hsla(0, 0%, 50%, 0.33);
}

#actionBox button:hover{
	background: white;
}

#actionBox button:focus{
	outline: none;
}

#actionBox>*{
	display: block;
	width: 100%;
	font-size: inherit;
	height: 35px;
}

#graphCanvas{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	/*z-index: -1;*/
	background-color: hsl(0, 0%, 20%);
	transition: background-color 1s;
}

#graphInfo{
	font-size: 10px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	/*background: rgba(255,255,255,0.8);*/
	/*background: white;*/
	padding: 0.25em 1em;
	opacity: 0.55;
	color: grey;
}

#search{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 13px;

	text-align: center;
}

#labels{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;
}


/*===================*/

.label{
	pointer-events: none;
	display: flex;
	flex-direction: row;
	opacity: 0.85;
}

.label span{
	/*font-size: 10px;*/
	text-shadow: 1px 1px 1px white;
	transform: translateX(-50%);
	margin-bottom: 10px;
	background: white;
	padding: 0.25em 0.75em;
	position: absolute;
	bottom: 0;
	border-radius: 3px 3px 3px 3px;
	white-space: pre;
	box-shadow: 1px 1px 3px hsla(0,0%, 0%, 10%);
}

.triangle-down{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
    width: 20%;
    height: 20px;
    background: "whtie";   
}

.label:before {
	position: absolute;
	left: -5px;
	top: -10px;
    content: '';
    background: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    z-index: 10;

}

/* AUTOCOMPLETE*/

.autocomplete{
	z-index: 1;
	right: 0px;
	width: 16em;
	display: flex;
	flex-direction: column;
	background-color: rgba(255,255,255, 0.7);
}
.autocomplete input{
	background: none;
	font: inherit;
	text-align: inherit;
	padding: 0.5em;
	border: none;
}

.autocomplete input:focus{
	outline: none;
}

.autocomplete-suggestions{
	text-align: center;
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	background: rgba(255,255,255, 0.7);
}
.autocomplete-suggestions .autocomplete-suggestion{
	font-size: 80%;
	margin: 0;
	padding: 0.5em;
	cursor: pointer;
}

.autocomplete-suggestions .autocomplete-suggestion.selected{
	background: lightblue;
}

#graphInfo button{
	margin: 0 0.5em;
}